<div class="well hoverwell">
    <div class="row">
        <h2 class="span6">{{person.name}}</h2>
    </div>
    <div class="row">
        <span class="span2">Age:</span>
        <span>{{person.birth_year}}</span>
    </div>
    <div class="row">
        <span class="span2">Hair Color:</span>
        <span>{{person.hair_color}}</span>
    </div>
    <div class="row">
        <span class="span2">Eye Color:</span>
        <span>{{person.eye_color}}</span>
    </div>
    <div class="row">
        <span class="span2">Gender:</span>
        <span>{{person.gender}}</span>
    </div>
</div>
