.color-box {
    padding: 30px 0;
    text-align: center;
    margin: 10px;
    font-size: 16px;
    color: #333;
}

.color-box.no-text {
    color: transparent;
}

.color-box:hover {
  cursor: pointer;
}

.flash-card {
    padding: 50px 0;
    text-align: center;
}

h2 {
    padding-left: 20px;
}

.d3-tip-column, .d3-tip-pie {
  background-color: #fff;
  border: 1px solid #888;
  padding: 5px;
  color: #555;
}

.d3-chart.column-chart {
  margin-bottom: 20px;
}

.d3-column-chart-title {
  font-size: 14px;
  font-weight: normal;
  color: #ddd;
}

.d3-column {
  fill: green;
  stroke: #555;
}

.d3-column:hover {
  fill: orange;
}

.d3-line-data-circle:hover {
  fill: green;
}

/* country colors */
.subunit.SCT { 
  fill: #fcf; 
}
.subunit.WLS { 
  fill: #cdd;
}
.subunit.NIR { 
  fill: #9ff;
}
.subunit.ENG { 
    fill: #ff9;
}
.subunit.IRL { 
    fill: #fcc; 
  }