<div class="colors-main">
    <div class="container">
        <div class="row">
            <div class="span4">
                Clicking on each color will give you its name. Enjoy <i class="icon-gift icon-white"></i>!
            </div>
            <button class="span3 btn btn-secondary" ng-click="shuffleColors()">
                Shuffle colors
            </button>
            <button class="span3 btn btn-secondary" ng-click="removeColorNames($event)">
                Remove color names
            </button>
        </div>
        <hr />
        <div class="row">
            <div class="span3 color-box no-text" ng-repeat="color in colors"
                 style="background-color: {{color}}" ng-click="showColorName($event, color)">
                {{color}}
            <div>
        </div>
    </div>
</div>